*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: sans-serif;
}

.text-align{
    text-align: center;
    padding: 5px;
}

.flex-center{
    display: flex;
    align-items: center;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    overflow: auto;
    padding: 0 25px;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 0.9rem;
    align-items: center;
}

.fa-border-all{
    margin-right: 5px;
}

.fa-maximize{
    margin-left: 10px;
    padding: 5px 8px;
    background-color: rgb(74,74,74);
    border-radius: 5px;
}

.speaker-view{
    padding: 5px 8px;
    background-color: rgb(74,74,74);
    border-radius: 5px;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    flex-basis: calc(100% / 7);
    height: calc(100% / 5);
    padding: 10px 5px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.container-img{
    position: relative;
    height: 100%;
}

.mute-name{
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 8px 5px;
    background-color: rgba(100,113,125, 0.5);
}

/* inizio footer */

footer{
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.left-part{
    flex-basis: 20%;
}

.fa-chevron-up{
    font-size: 0.6rem;
    margin: 0 10px;
}

.left-part span{
    font-size: 0.9rem;
}

/* parte centrale */

.central{
    flex-basis: 60%;
    justify-content: center;
}

.central span{
    font-size: 0.9rem;
}

.item-icon{
    margin: 0 10px;
}

.fa-chevron-down{
    font-size: 0.6rem;
    margin: 0 10px;
}

.fa-share-from-square{
    color: rgb(75,200,0);
}

/* parte finale */

.right-part{
    flex-basis: 20%;
    flex-direction: row-reverse;
}

.end-meeting{
    color: red;
    font-size: 0.9rem;
    background-color: rgb(74,74,74);
    padding: 0 10px;
    height: 100%;

}